
body {
    padding-top: 0px;
    position: relative;
}

.navbar {
    min-height: 90px;
}

.navbar-inverse { background-color: #A11D23}
.navbar-inverse .navbar-nav>.active>a:hover,.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:focus { background-color: #A11D23}
.navbar-inverse .navbar-nav>.active>a,.navbar-inverse .navbar-nav>.open>a,.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover,.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover, .navbar-inverse .navbar-nav>.open>a:focus { background-color: #A11D23}
.navbar-inverse { background-image: none; }
.navbar-inverse .navbar-brand { color: white; background-color: white}
.navbar-inverse {border: hidden}
.navbar-inverse .navbar-nav>li>a { color: #FFFFFF}
.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:focus { color: white; text-decoration: underline;}
.navbar-inverse .navbar-nav>.active>a,.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover, .navbar-inverse .navbar-nav>.open>a:focus { color: #FFFFFF}
.navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus { color: #FFFFFF}
.navbar-inverse .navbar-nav>.dropdown>a:hover .caret { border-top-color: #FFFFFF}
.navbar-inverse .navbar-nav>.dropdown>a:hover .caret { border-bottom-color: #FFFFFF}
.navbar-inverse .navbar-brand:hover { color: #FFFFFF; background-color: white}
.navbar-brand:active {color: #FFFFFF; background-color: white }


.nav-content {
    height: 90px;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}
.navbar-brand:active{
    height: 90px;
}


.caja-logo {
    background-color: white;
}

.portada {
    background: url("images/background.png") no-repeat center fixed ;
    background-size: cover;
    padding-top: 70px;
}

.texto-portada {
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    font-size: 300%;
}

.bajada-portada {
    color: white;
    padding-bottom: 6%;
}

.texto-prod{
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    position: absolute;
    top: 35%;
    width: 100%;
    text-align: center;
}

.texto-prod:hover{
    color: white;
    font-weight: 600;
    text-decoration: none;
}


.prod-portada {
    padding-left: 0;
    padding-right: 0;
    background: #EBEBEB;
    transition: all 1s ease;
}

.titulo-seccion {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 35px;
    margin: 20px;
    padding-bottom: 30px;
}

.contenido-seccion {
    margin-left: 15%;
    margin-right: 15%;
}

.firma {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

.img-responsive {
    margin: auto;
}

.seccion {
    padding-bottom: 5%;
    padding-top: 5%;
}

#contacto {
    padding-top: 15%;
    padding-bottom: 15%;
}

.texto-servicio {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    margin-right: 5px;
    margin-left: 5px;
}

#logo-inicio {
    margin-bottom: 50px;
}

.boton{
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    color: black;
    padding: 6px;
    background-color: #fcfcfc;
    border-style: solid;
    border-color: #A11D23;
    border-width: 2px;
    border-radius: 5px;
}

.boton:hover{
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    color: black;
    text-decoration: none;
    background-color: white;
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
}

